<footer style="margin-top: 1.5rem;">
    <div class="f-info">
        <div class="f-socialmedia">
            <i class="fa-brands fa-square-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-linkedin"></i>
        </div>
        <div class="f-brand">
            &copy; WanderLust Private Limited
        </div>
        <div class="f-links">
            <a href="#">privacy</a>
            <a href="#">terms</a>
        </div>
    </div>
</footer>